.game {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__container {
        background-color: $color-black;
        height: 60vh;
        width: 50%;
        display: grid;
        grid-template-columns: repeat(30, 1fr);
        grid-template-rows: repeat(20, 1fr);
        margin-bottom: 20px;
        box-shadow: $box-shadow;
        border: 5px solid $color-green;
    }

    &__button {
        padding: 10px 50px;
        border-radius: 5px;
        font-size: 24px;
        background-color: $color-red;
        font-family: $font-main;
        font-weight: 500;
        color: $color-white;
        border: none;
        box-shadow: $box-shadow;
    }
}