.game__over {
    background-color: black;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    grid-area: 11 / 15 / 15 / 38;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game__welcome {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    grid-area: 11 / 15 / 15 / 38;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}