.game__over {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    grid-area: 7 / 10 / 14 / 22;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
        font-size: 40px;
    }
}

.game__welcome {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    grid-area: 7 / 10 / 14 / 22;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $color-white;

    h1 {
        font-size: 40px;
        padding: 20px;
    }
    
    h3 {
        font-size: 24px;
    }
}