@import "./modules/variables";
@import "./modules/board";
@import "./modules/messages";
@import "./modules/snake";
@import "./modules/food";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}

.header {
    width: 100vw;
    text-align: center;
    padding: 10px;
}

