* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100vw;
  text-align: center;
  padding: 10px;
}

.game {
  width: 100vw;
  height: 85vh;
  border: black 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game__container {
  border: black 1px solid;
  height: 80%;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(20, 1fr);
}
.game__snake {
  background-color: green;
  grid-area: 10/14/11/15;
  height: 100%;
  width: 100%;
}