* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100vw;
    text-align: center;
    padding: 10px;
}

.game {
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__container {
        background-color: lightgray;
        border: black 2px solid;
        height: 80%;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(50, 1fr);
        grid-template-rows: repeat(25, 1fr);
        margin-bottom: 20px;
    }

    &__button {
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 18px;
    }

    &__snake {
        background-color: green;
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }

    &__food {
        background-color: yellow;
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }
}